@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');



@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-image: linear-gradient(120deg,rgb(32, 156, 1), #ff427b);
color: white;
font-family: 'Bad Script', cursive;
min-height: 100vh;
place-items: center;
}

header, form {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form input, form button {
    padding: 20px;
    font-size: 30px;
    border: none;
    background: white;
    color:rgb(32, 156, 1)
}

form button {
    color: rgb(32, 156, 1);
    cursor: pointer;
    transition: all 0.3 ease 
}

form button:hover {
    background: #ff427b;
    color: rgb(32, 156, 1)
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 36%;
    list-style: none;
}

.todo {
    margin: 20px;
    background: white;
    color:rgb(32, 156, 1);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
   padding: 40px 20px;

}

.garbage-btn, .checkMark-btn {
    background: white;
    color: rgb(32, 156, 1);
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 30px;

}

.checkMark-btn {
    background:white;
}

.garbage-btn:hover, .checkMark-btn:hover {
        background: #ff427b;
        color: rgb(32, 156, 1)
    }
    
.fa-trash, .fa-check{
    pointer-events: none;
}

.finito {
    text-decoration: line-through;
    opacity: 0.5;
 
}

.cascade {
    transform: translateY(50px) rotateZ(20deg);
    opacity: 1;
    transition: all 1 ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border:none;
}

.select {
    margin: 0.5em;
    position: relative;
    overflow: hidden;
}

select {
    color:rgb(32, 156, 1);
    width: 10rem;
    cursor:pointer;
    padding: 1rem;
   
}

.select::after {
    content: '\25BC';
    position: absolute;
    background: rgb(32, 156, 1);
    top: 0;
    right: 0;
    padding:1rem;
    pointer-events: none;
}

.select:hover::after{
    background: #ff427b;
    color:rgb(32, 156, 1);
}